.navbar {
    background-color: #A17E5D;
}

.quem-somos{
    background-color: #E8CEB5;
}

.parceiros{
    background-color: #8EEB9B;
}

.servicos{
    background-color: #8A8FF0;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-footer{
    background-color: black;
}